
# 
.env

#ignore the .venv file
.venv

#ignore the venv file
venv/

#ignore the env file
env/

#ignore the .gitignore file.env


#ignore lessonPlanProject.md file
lessonPlanProjects.md
invoke_agentrun_toolfunction.md